node_modules
.env
.env.local
.env.*.local
*.log
.DS_Store
.pnp
.pnp.js
.yarn/install-state.gz
.idea/
.vscode/
next-env.d.ts
prisma/dev.db*
prisma/migrations/dev.db*
coverage/
.nyc_output
dist/
out/
release/
*.tsbuildinfo